<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a story!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the empty fields to create your story!</h1>
    <p>"_____________! he said ________ as he jumped into his convertible
   exclamation            adverb
  ______ and drove off with his ___________ wife."</p>
   noun                          adjective
    <form action="/sheet" method="post">
     <label for="exclamation">Exclamation</label>
     <input id="exclamation" name="exclamation" type="text">
     <label for="adverb">Adverb</label>
     <input id="adverb" name="adverb" type="text">
     <label for="noun">Noun</label>
     <input id="noun" name="noun" type="text">
     <label for="adjective">Adjective</label>
     <input id="adjective" name="adjective" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>
