<!DOCTYPE html>
<html>
  <head>
    <title>Here is your story:</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
  <p>"@Model.GetExclamation()! he said @Model.GetAdverb() as he jumped into his convertible
  @Model.GetNoun() and drove off with his @Model.GetAdjective() wife."</p>
  </body>
</html>
