<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a story!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>"Pick a Story!"</h1>
    <a href="/zoo">A day at the zoo!</a></br>
    <a href="/disney">My trip to Disney World!</a>
  </body>
</html>
