<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a story!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Fill in the empty fields to create your story!</h1>
      <p>Today I went to the zoo. I saw a ____________(adjective)
_____________(noun) jumping up and down in its tree. He
_____________(verb: past tense) __________(adverb) through
the large tunnel that led to its __________(adjective)
__________(noun). I got some peanuts and passed them
through the cage to a gigantic gray __________(noun)
towering above my head. Feeding that animal made me
hungry. I went to get a __________(adjective) scoop of ice
cream. It filled my stomach. Afterwards I had to
__________(verb) __________ (adverb) to catch our bus. When
I got home I __________(verb past tense) my mom for a
__________(adjective) day at the zoo.</p>

      <div class="row">
        <div class="col-md-6">
            <form action="/sheet" method="post">
              <label for="adjective1">Adjective</label>
              <input id="adjective1" name="adjective1" type="text">
              <label for="noun1">Noun</label>
              <input id="noun1" name="noun1" type="text">
              <label for="verb1">Verb</label>
              <input id="verb1" name="verb1" type="text">
              <label for="adverb1">Adverb</label>
              <input id="adverb1" name="adverb1" type="text">
              <label for="adjective2">Adjective</label>
              <input id="adjective2" name="adjective2" type="text">
              <label for="noun2">Noun</label>
              <input id="noun2" name="noun2" type="text">
              <label for="noun3">Noun</label>
              <input id="noun3" name="noun3" type="text">
              <label for="adjective3">Adjective</label>
              <input id="adjective3" name="adjective3" type="text">
              <label for="verb2">Verb</label>
              <input id="verb2" name="verb2" type="text">
              <label for="adverb2">Adverb</label>
              <input id="adverb2" name="adverb2" type="text">
              <label for="verb3">Verb</label>
              <input id="verb3" name="verb3" type="text">
              <label for="adjective4">Adjective</label>
              <input id="adjective4" name="adjective4" type="text">
              <button type="submit">Go!</button>
            </form>
        </div>
      </div>

    </div>
  </body>
</html>
